Package: sneakers-demo
Version: 0.0.1-1
Architecture: all
Maintainer: Guilherme <guilherme@unknown>
Installed-Size: 10
Depends: ruby2.1
Section: x11
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
